@font-face {
  font-family: yofont;
  src: url("/daigou/images/iconfont4/iconfont.woff") format("woff"), 
  url("/daigou/images/iconfont4/iconfont.ttf") format("truetype");
}


@font-face {
  font-family: yofont;
  src: url("/daigou/images/iconfont4/iconfont-shoucang.woff") format("woff"), 
  url("/daigou/images/iconfont4/iconfont-shoucang.ttf") format("truetype");
}